regex==2024.9.11
datasets==3.0.0
chardet==5.2.0
ftfy==6.2.3
langdetect==1.0.9
opencc==1.1.9
kenlm==0.2.0
sentencepiece==0.2.0
jsonlines==2.0.0
torch==2.2.2
scipy==1.12.0
rich==13.7.1
tiktoken==0.7.0
openai==1.46.1
matplotlib==3.9.2
seaborn==0.13.2
jieba==0.42.1
wordcloud==1.9.3
pandas==2.2.2
numpy==1.26.4